#breadImg {
	width: 100%;
	height: auto;
}

body {
	/* background-color: #662266; */
}

#mainDiv {
	width: 87vw;
	margin: auto;
}

#headNav ul {
	list-style: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

#headNav ul li {
	width: 49%;
	padding-bottom: 20%;
    height: auto;
    position:relative;
    display:inline-flex;
    background-image: url('/static/img/temp_bread.png');
    background-size: cover;
}

.ratio {
	width: 100%;
	padding-bottom: 60%;
	position: relative;
	
}

#map {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #CCC;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

#loginForm {
	width: 66%;
	padding: 1%;
	float:left;
	margin: 1vh 16% 0 16%;
	font-size: 1em;
}

#loginForm p {
	width:100%;
	margin:10px 0;
	float:left;
}

#loginForm label {
	width:35%;
	margin:0;
	float:left;
	font-weight:bold;
	text-align: right;
}

#loginForm input {
	width: 47%;
	float:left;
	margin: 0 0 0 1%;
}

button {
	float: right;
}