body {
	background-color: rgba(102, 34, 64, 0.15);
	color: #FFF;
	width: 100vw;
	max-width: 1366px;
	margin: auto;
}

#animDiv {
	width: 100vw;
	max-width: 1366px;
	height: 100vw;
	max-height: 1366px;
	margin: auto;
	background-image: url("/static/img/temp_bread.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: 100% 50%;
}

.mainDiv {
	width: 90%;
	max-width: 90vw;
	margin: 13vw 5vw auto 5vw;
	position: absolute;
}

#forwardMain {
	z-index: 1;
	
}

#reverseMain {
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	z-index: -1;
}

.backImg {
	width: 100%;
	height: auto;
	position: absolute;
}

.contentHolder, .headNav {
	width: 87%;
	margin: auto;
}

.footer, .headNav {
	height: 10vh;
}

ul {
	list-style: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

li {
	width: 49%;
	text-align: center;
    position: relative;
    display: inline-flex;
}

.headNav ul li {
    height: 10vh;
    background: radial-gradient(circle, rgba(81, 44, 32, 0.6), rgba(149, 82, 40, 0.4), rgba(215, 149, 52, 0.25), rgba(230, 213, 183, 0.05));
    border-radius: 45%;
    color: #D0D0D0;
}

li h2 {
	margin: auto;
}

h1 {
	margin: auto;
}

.ratio {
	padding-bottom: 50%;
	position: relative;
}

#map {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #CCC;
}

#orders {
	overflow: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #DCCCB1;
	color: #783e23;
	width: 100%;
	margin: auto;
}

.sixtySix {
	width: 80%;
	margin: auto;
}

.innerNav li {
	height: 5vw;
	background: #512b20;
    background: -webkit-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: -o-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7);
	background: -moz-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: radial-gradient(ellipse, #512b20, #955228, #c79534, #d6c5a7);
	border-style: ridge;
	border-width: 2px;
	width: 47%;
    color: #D0D0D0;
}

#orderForm input, textarea {
	background: #d5bc8e;
	color: #783e23;
}

#commentForm input, textarea {
	background: #d5bc8e;
	color: #783e23;
}

#phone1, #phone2, #phone3 {
	width: auto;
	float: none;
}

#phone2, #phone3 {
	margin: 0;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

form {
	width: 90%;
	padding: 1%;
	margin: 1vh auto 0 auto;
	font-size: 1em;
}

form p {
	width:100%;
	margin:10px 0;
	float:left;
}

span.sixtySix p {
	text-align: center;
}

label {
	width: 80%;
	margin: 0 0 0 10%;
	font-weight: bold;
}

input, textarea {
	width: 80%;
	float:left;
	margin: 0 0 0 10%;
}

input[type="radio"]{
	width: 25%;
	float: unset;
}

label.radio {
	width: 20%;
	text-align: center;
	margin: 0;
}

button {
	float: right;
}

.button {
	background: #512b20;
    background: -webkit-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: -o-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7);
	background: -moz-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7);
    border-radius: 75%;
    border: none;
    color: #D0D0D0;
    width: 5em;
    height: 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	font-size: 1.25em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c79534;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c79534;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c79534;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c79534;
}