body {
	background-color: #662240;
	color: #FFF;
	width: 100vw;
	max-width: 1366px;
	margin: auto;
}

#animDiv {
	width: 100vw;
	max-width: 1366px;
	height: 100vw;
	max-height: 1366px;
	margin: auto;
	background-image: url("/static/img/temp_bread.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	transform: scale3d(0.5, 0.5, 0.5) translateY(-25vw);
	transform-style: preserve-3d;
}

#mainDiv {
	width: 90%;
	max-width: 90vw;
	margin: 13vw auto auto auto;
}

#backImg {
	left: 50%;
	margin-top: -15%;
	margin-left: -50%;
	width: 100%;
	height: auto;
	position: absolute;
}

#contentHolder, #headNav {
	width: 87%;
	margin: auto;
}

#footer, #headNav {
	height: 10vh;
}

#headNav ul {
	list-style: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

#headNav ul li {
	width: 49%;
    height: 10vh;
    color: #46A2A0;
    text-align: center;
    position: relative;
    display: inline-flex;
}

h1 {
	margin: auto;
}

.ratio {
	padding-bottom: 50%;
	position: relative;
}

#map {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #CCC;
}

#orders {
	overflow: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #DCCCB1;
	color: #783e23;
	width: 100%;
	margin: auto;
}

.sixtySix {
	width: 66%;
	margin: auto;
}

#orderForm input, textarea {
	background: #d5bc8e;
	color: #783e23;
}

#phone1, #phone2, #phone3 {
	width: auto;
	float: none;
}

#phone2, #phone3 {
	margin: 0;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

form {
	width: 66%;
	padding: 1%;
	margin: 1vh auto 0 auto;
	font-size: 1em;
}

form p {
	width:100%;
	margin:10px 0;
	float:left;
}

form label {
	width:35%;
	margin:0;
	float:left;
	font-weight:bold;
	text-align: right;
}

form input, textarea {
	width: 47%;
	float:left;
	margin: 0 0 0 1%;
}

button {
	float: right;
}

.button {
	background: #512b20;
    background: -webkit-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: -o-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7);
	background: -moz-radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7); 
	background: radial-gradient(circle, #512b20, #955228, #c79534, #d6c5a7);
    border-radius: 75%;
    border: none;
    color: #D0D0D0;
    width: 5em;
    height: 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	font-size: 1.25em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c79534;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c79534;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c79534;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c79534;
}