body {
	margin: 0px;
	background-color: #CCCCCC;
}

ul {
	list-style-type: none;
}

#navPanel {
	width: 100vw;
	margin-top: 1vh;
	height: auto;
}

#navPanel ul {
	border-style: ridge none ridge none;
	border-color: #0000AA;
	border-width: 3px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	top: 0;
}

#navPanel li {
	width: 25vw;
	background: #1595FE; 
	background: -webkit-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #1575CA, #003095); /
	background: -moz-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: radial-gradient(circle, #1595FE, #1575CA, #003095);
	float: left;
	font-size: 2vw;
}

#navPanel li:active {
	background: #003095;
	background: -webkit-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #0565AC, #003095); /
	background: -moz-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: radial-gradient(circle, #1595FE, #0565AC, #003095);
}

#navPanel li a {
	display: block;
    text-align: center;
    padding: 3vh 0 3vh 0;
    color: #101040;
    text-decoration: none;
}

#mainPanel {
	width: 98vw;
	height: auto;
	padding: 1vw;
	background-color: #FFFFFF;
	font-size: 3vh;
}

p.details {
	word-wrap: break-word;
}

button {
	float: right;
}

.oWrapper {
	min-height: 5vh;
}

.order {
	display: inline-block;
	width: 40vw;
	text-align: center;
}