body {
	margin: 0px;
	background-color: #CCCCCC;
}

ul {
	list-style-type: none;
}

#navPanel {
	width: 100vw;
	margin-top: 1vh;
	height: auto;
}

#navPanel ul {
	border-style: ridge none ridge none;
	border-color: #0000AA;
	border-width: 3px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	top: 0;
}

#navPanel li {
	width: 25vw;
	background: #1595FE; 
	background: -webkit-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #1575CA, #003095);
	background: -moz-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: radial-gradient(circle, #1595FE, #1575CA, #003095);
	float: left;
	font-size: 2vw;
}

#navPanel li:active {
	background: #003095;
	background: -webkit-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #0565AC, #003095);
	background: -moz-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: radial-gradient(circle, #1595FE, #0565AC, #003095);
}

#navPanel li a {
	display: block;
    text-align: center;
    padding: 3vh 0 3vh 0;
    color: white;
    text-decoration: none;
}

#mainPanel {
	width: 98vw;
	height: auto;
	padding: 1vw;
	background-color: #FFFFFF;
	font-size: 3vh;
	overflow: auto;
}

p.details {
	word-wrap: break-word;
}

.oWrapper {
	min-height: 5vh;
}

.order {
	display: inline-block;
	width: 40vw;
	max-width: 40vw;
	text-align: center;
	word-wrap: break-word;
}

.button {
    background: #1595FE;
    background: -webkit-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #1575CA, #003095);
	background: -moz-radial-gradient(circle, #1595FE, #1575CA, #003095); 
	background: radial-gradient(circle, #1595FE, #1575CA, #003095);
    border-radius: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	float: right;
	font-size: .9em;
}

.button:active {
    background: #003095;
	background: -webkit-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #0565AC, #003095);
	background: -moz-radial-gradient(circle, #1595FE, #0565AC, #003095); 
	background: radial-gradient(circle, #1595FE, #0565AC, #003095);
    color: black;
}

#passForm {
	width: 66%;
	padding: 1%;
	float:left;
	border:2px solid #1595FE;
	margin: 0 16% 0 16%;
	font-size: .75em;
}

#passForm p {
	width:100%;
	margin:10px 0;
	float:left;
}

#passForm label {
	width: 35%;
	margin: 0 0 0 30%;
	font-weight:bold;
	color:#1595FE;
	text-shadow:1px 1px 0 #000;
}

#passForm input {
	width: 47%;
	float:left;
	margin: 0 0 0 30%;
}

#upPassError {
	width: 68%;
	margin: 0 16% 0 16%;
	text-align: center;
	color: #AA0505;	
}

#coordTab {
	text-align: center;
}

#orderTab {
	width: 96%;
	margin: 0 2% 0 2%;
}