body {
	margin: 0px;
	background-color: #CCCCCC;
}

ul {
	list-style: none;
}

#sidePanel {
	width: 33%;
	max-width: 200px;
	margin-top: 1%;
	height: auto;
	display: inline-block;
}

#sidePanel ul {
	border-style: none ridge ridge;
	border-color: #0000AA;
	border-width: 5px;
	padding: 0;
	margin: 0;
}

#sidePanel li {
	display: block;
	padding: 15% 10% 15% 10%;
	border-style: ridge none none;
	border-color: #0000AA;
	border-width: 5px;
	text-align: center;
	background: #1595FE; 
	background: -webkit-radial-gradient(circle, #1595FE, #003095); 
	background: -o-radial-gradient(circle, #1595FE, #003095); /
	background: -moz-radial-gradient(circle, #1595FE, #003095); 
	background: radial-gradient(circle, #1595FE, #1575CA, #003095);
	color: #102020; 
}

#sidePanel li:active {
	background: #003095;
	background: -webkit-radial-gradient(circle, #1585FB, #0040FB); 
	background: -o-radial-gradient(circle, #1585FB, #0040FB); /
	background: -moz-radial-gradient(circle, #1585FB, #0040FB); 
	background: radial-gradient(circle, #1595FE, #0565AC, #003095);
}

#mainPanel {
	width: 63%;
	max-width: 63%;
	height: auto;
	display: inline;
	position: absolute;
	margin-top: 1%;
	padding: 1%;
	background-color: #FFFFFF;
}

p.details {
	word-wrap: break-word;
}